:root {
  --c-primary: rgb(0 170 162);
  
  --ion-color-primary: #00aaa2;
  --ion-color-primary-rgb: 0, 170, 162;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #00968f;
  --ion-color-primary-tint: #1ab3ab;

  --ion-color-dark: #141b1f;
  --ion-color-dark-rgb: 20, 27, 31;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #12181b;
  --ion-color-dark-tint: #2c3235;
}

/* semantic variables for this project */
:root {
  --c-heading: var(--ion-color-primary);

  --c-wrapper-bg: rgba(255, 255, 255, .85);

  --ion-font-family: 
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-wrapper-bg: rgba(var(--ion-color-dark-rgb), .85);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  transition: color .5s, background-color .5s;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-weight: 600;
  margin-block-start: 0;
}

h1 {
  color: var(--c-heading);
  margin-block-end: 1.5em;
  text-align: center;
  text-shadow: 0 0 1rem #fff;

  @media (prefers-color-scheme: dark) {
    text-shadow: 0 0 1rem var(--ion-color-dark);
  }
}

.wrapper {
  min-block-size: 100%;
  background: var(--c-wrapper-bg);
  backdrop-filter: blur(5px);
  max-inline-size: 70rem;
  margin-inline: auto;
  padding-block: 1.5rem 3rem;
  padding-inline: clamp(0.5rem, -0.56rem + 4vw, 2rem);
}

form h2 {
  margin-block-end: 0;
}

.authform {
    & ion-input {
        margin-block-end: 1.5rem;
    }

    & p {
        color: var(--ion-color-danger);
        margin-block: -1rem 1rem;
    }
}

fieldset {
  inline-size: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;

  & ~ h2 {
    margin-block-start: 2rem;
  }
  
  & legend {
    font-size: 1.25rem;
    margin-block-end: 1rem;
    padding: 0;
  }
  
  & :is(a, ion-datetime-button, ion-input, ion-select, ion-textarea) {
    margin-block-end: 1.5rem;
  }
}


/* ----- Ionic components style override and additions ----- */

ion-button {
  --padding-top: 1rem;
  --padding-bottom: 1rem;
  --padding-start: 1rem;
  --padding-end: 1rem;
  font-size: 1rem;
}

ion-checkbox {
  margin-block-end: .5rem;
}

ion-content ion-content {
  --background: transparent;
}

ion-content.arc-bg {
  --background: -2px var(--offset-top)/min(75%, 640px) no-repeat url('../images/REC-arcs-top.svg'), 
                calc(100% + 2px) calc(100% - var(--offset-bottom))/min(56%, 480px) no-repeat url('../images/REC-arcs-bottom.svg');
  /* Use Ionics calculated offset to 'undo' the offset, so the background images don't partially disappear behind the header and footer component */
}

:host(.checkbox-label-placement-end) .label-text-wrapper {
  margin-inline: .75rem 0;
}

ion-datetime-button {
  justify-content: start;
}


/* ----- Utility ----- */

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}